.body {
  /* overflow-y: auto; */
  padding: 0px;
  margin: 0px;
  background: #eeebe4;
}

.notification {
  border-radius: 10px 0px 0px 10px;
  position: fixed;
  top: 60px;
  right: 0;
  width: fit-content;
  padding: 12px;
  text-align: center;
  font-size: 18px;
}
